<svg
   xmlns="http://www.w3.org/2000/svg"
   viewBox="0 0 230.76923 230.76924"
   preserveAspectRatio="xMidYMid meet"
   style="width:100%;height:100%;display:block"
   version="1.1"
   id="svg18"
   sodipodi:docname="argus-sbomguard.svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="SvgjsDefs1143">
    <linearGradient
       inkscape:collect="always"
       id="linearGradient1760">
      <stop
         style="stop-color:#605dff;stop-opacity:1;"
         offset="0"
         id="stop1756" />
      <stop
         style="stop-color:#5d5dff;stop-opacity:0.36195934;"
         offset="1"
         id="stop1758" />
    </linearGradient>
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient1760"
       id="linearGradient2492"
       x1="16.75"
       y1="50"
       x2="83.250893"
       y2="50"
       gradientUnits="userSpaceOnUse" />
  </defs>
  <g
     id="g25"
     transform="translate(62.103949,328.34178)">
    <g
       id="SvgjsG1144"
       featurekey="rootContainer"
       fill="#2b2b2b"
       transform="matrix(0.5463954,0,0,2.3310024,-62.103948,-328.34178)"
       inkscape:export-filename="/home/trotto/Desktop/ctrlsecday/ctrsecday.png"
       inkscape:export-xdpi="121.21"
       inkscape:export-ydpi="121.21">
      <rect
         width="422.34842"
         height="99"
         rx="35.625851"
         id="rect3"
         x="3.5887829e-06"
         y="-1.6301999e-06"
         ry="9.1105404"
         style="fill:#181825;fill-opacity:1" />
    </g>
    <g
       id="SvgjsG1145"
       featurekey="nYIUkx-0"
       transform="matrix(-1.9672153,0,0,1.9672153,151.64231,-311.31793)"
       fill="#fce38a"
       inkscape:export-filename="/home/trotto/Desktop/ctrlsecday/ctrsecday.png"
       inkscape:export-xdpi="121.21"
       inkscape:export-ydpi="121.21"
       style="fill-opacity:1;fill:url(#linearGradient2492)">
      <path
         d="m 83.122,8.759 c 0,-1.915 -14.045,-3.478 -31.673,-3.563 v 0 H 51.4 C 50.937,5.193 50.472,5.192 50.005,5.192 v 0 h -0.098 c -1.777,0 -3.522,0.015 -5.225,0.044 0.102,0.682 0.155,1.37 0.155,2.063 0,5.057 -2.744,9.908 -7.724,13.66 -5.358,4.035 -12.54,6.276 -20.248,6.326 -0.003,2.043 -0.007,3.741 -0.012,5.168 v 0 c -0.037,11.437 -0.103,5.274 -0.103,17.529 0,17.056 19.615,38.017 33.186,44.826 12.559,-6.301 32.896,-27.04 33.186,-44.826 0.29,-17.785 0,-22.429 0,-41.223 z"
         id="path6"
         style="fill:url(#linearGradient2492);fill-opacity:1"
         sodipodi:nodetypes="ssccscscsccsssccs" />
    </g>
  </g>
</svg>
